@model mvcDriverWithAuth.Models.Make

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Make</h4>
    <hr />
    <partial name="_DeleteDetails" />
</div>
<div>
    @if (Model.ShowModifyLinks)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
